<div class="footer_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-sm-6">
            <h3 class="useful_text">{{about.title}}</h3>
            <p class="footer_text">{{about.description}}</p>
         </div>
         <div class="col-lg-3 col-sm-6">
            <h3 class="useful_text">منو</h3>
            <div class="footer_menu">
               <ul>
                  <li><a href="index.html">خانه</a></li>
                  <li><a href="about.html">درباره ما</a></li>
                  <li><a href="gallery.html">گالری</a></li>
                  <li><a href="services.html">خدمات</a></li>
                  <li><a href="contact.html">تماس با ما</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-3 col-sm-6">
            <h1 class="useful_text">لینک های مفید</h1>
            <p class="dummy_text">لورم ایپسوم متن ساختگی صنعت ورم صفحات وبسایت </p>
         </div>
         <div class="col-lg-3 col-sm-6">
            <h1 class="useful_text">تماس با ما</h1>
            <div class="location_text">
               <ul>
                  <li>
                     <a href="#">
                     <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">آدرس : {{information.location}}</span>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                     <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">تماس : {{information.phone}}</span>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                     <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">ایمیل : {{information.email}}</span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
   <div class="container">
      <p class="copyright_text">{{information.copyright}}</a></p>
   </div>
</div>