{% load static %}
<div class="header_section">
   <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="logo"><a href="index.html"><img src={{information.logo.url}}></a></div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="index.html">خانه</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="about.html">درباره ما</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="gallery.html">گالری</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="services.html">خدمات</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="contact.html">تماس با ما</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
               </li>
            </ul>
         </div>
      </nav>
   </div>
</div>