{% extends 'base.html' %}
{% load static %}

{% block content %}

      <!-- contact section start -->
      <div class="contact_section layout_padding">
        <div class="container">
           <h1 class="contact_text">تماس با ما</h1>
        </div>
     </div>
     <div class="contact_section_2 layout_padding">
        <div class="container-fluid">
           <div class="row">
              <div class="col-md-6 padding_0">
                 <div class="mail_section">
                    <div class="email_text">
                      <form action="{% url 'contact:submit_message' %}" method="POST" class='contact-form'>
                         {% csrf_token %}
                      {% for field in add_message%}
                       <div class="form-group">
                          <span> {{ field.label }}</span>
                          {{field}}
                       </div>
                       {% endfor %}
    
                       <div class="send_btn">
                         <button type="submit">
                            ارسال
                          </button>
                       </div>
                    </div>
                   </form>
                 </div>
              </div>
              <div class="col-md-6 padding_0">
                 <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="508" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
                 </div>
              </div>
           </div>
        </div>
     </div>
     {% endblock content %}

     <!-- contact section end -->